.container-card-caciques {
  display: flex;;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px auto;
}
.titulo-objetivo h3{
  font-size: 3rem;
}
.parrafo-objetivo {
  font-size: 2.3rem;
  padding: 30px;
}
.card-pilares{
flex: 0 0 30%;

}
.card-pilares {
flex: 0 0 33%;
}
.titulo-caciques {
 margin: 39px auto;
}

.title h4 {
  margin: 10px auto;
  font-size: 36px;
}





/* N O S O T R O S */





header {
  height: 900px;
}

.carousel {
  width: 100%;
  height: 637px;
  overflow: hidden;
  position: relative;
}

.subrayado {
  background-color: var(--color-yellow-primary);
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  padding: 2px;
  display: inline-block;
}

.headh1 {
  width: 240px;
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.info {
  color: white;
  margin: 30px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 22px;
}

.info2 {
  color: white;
  margin-bottom: 30px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 80px;
  font-size: 22px;
}

.carousel-item img {
  width: 1230px;
  height: 507px;
  object-fit: cover;
  border-radius: 20px;
}

.highlight {
  background-color: rgb(247, 147, 30);
  padding: 2px;
  display: inline-block;
}

.dondeestamos {
  width: 100%;
  height: 306px;
  overflow: hidden;
  position: relative;
  background-color: rgba(29, 29, 27);
}

.dondeestamos div {
  display: flex;
  margin: 30px 50px 20px;
  justify-content: space-between;
}

.dondeestamos h1 {
  text-align: center;
}

.ubicaciones {
  color: rgb(247, 147, 30);
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 0;
  width: 176px;
}

.otrasubicaciones {
  color: rgb(247, 147, 30);
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 50px;
}

.ubicacionesaclaracion {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-left: 25px;
  margin-top: 58px;
  position: absolute;
}

.otrasubicaciones {
  font-size: 40px;
}

.logoubi {
  position: absolute;
  margin-left: -18px;
  margin-top: 13px;
  width: 29px;
  height: 41px;
  color: rgb(193, 39, 45);
}

.hitos{
  text-align: center;

}

.lineadeltiempo {
  margin-top: 50px;
}

.valores {
  width: 100%;
  height: 1048px;
  overflow: hidden;
  position: relative;
  background-color: rgb(29, 29, 27);
}

.valores h1 {
  text-align: center;
}

.listavalores {
  width: 50%;
  margin-left: 25%;
  height: 700px;
}

.listavalores p {
  margin-top: 75px;
  font-size: 24px;
}

.ayudanos {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}



.hitos {
  height: 428px;
}
.contenidohitos {
  height: 200px;
}





/* P  A  G  O  S */

.headh1 {
  width: 621px;
}


.form {
  height: 800px;
  background-color: rgb( 29, 29, 27);
  text-align: center;
}


.labels {
  color: rgb(255, 255, 255);
  margin: 30px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 93px;
  margin-top: 50px;
  font-size: 30px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 151px;
  margin-left: 25px;
  margin-right: 25px;
}


.botonseleccion {
  margin: 52px;
  font-size: 24px;
}

.botonseleccionmonto {
  margin: 42px 42px 24px 42px;
  font-size: 24px;
}

.inputsdp {
  width: 493px;
  font-size: 18px;
}

.datospersonales {
  height: 754px;
}

.h1datospers {
  width: 245px;
  font-size: 47px;
  margin-left: 100px;
}


.labelsdp {
  font-size: 24px;
}

.porquecolaborar {
 height: 100vh;
}

.porquecolaborar h1 {
  font-size: 42px;
  margin-top: 24px;
  align-content: center;
  width: auto;
}

.porquecolaborar p {
  font-size: 24px;
  margin: 40px;
  line-height: 30px;
  padding: 10px 132px;
}

.container-video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home img {
  margin: 1px 69px;

}
@media screen and (min-width: 1440px) {
.carousel-static{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

}
.right-caciques{
margin: 139px auto;
}
.texto {
font-size: 1.3rem;
}
.left-caciques img {
min-height: 205vh;
}

.container-video iframe {
width: 1080px;
}


.modal-content {
  margin: 30% auto;
  }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer img {
  height: 137px;
  margin-top: 2rem;
}

.voluntario {
  margin: 20px 20px;
  height: 517px;
}
.voluntarios p{
  font-size: 24px;
}
