.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/assets/images/CCQS052.JPG');
    background-size: cover;
    background-position: center;
}

.title {
    z-index: 2;
    color: white;
}

.title h1 {
    font-size: 1.9rem;
    margin: 0;
}

.title h4 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* Overlay oscuro */
    z-index: 1;
}



.menu-icon, .home, .navbar-links {
    z-index: 101;  /* Mantiene los elementos de la navbar visibles */
}

#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    transition: background-color 0.3s ease;
    height: 68px;
    position: fixed !important;
    top: 0;
}

.home img{
    width: 67px;
    height: 57px;
    margin: 10px 10px;
}
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px ;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
   }

.home a,
.navbar-links li a {
text-decoration: none;
color: rgb(185, 180, 180);
font-family: "DM Sans", sans-serif;
font-size: 1.4rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #0d0d0d;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
}
.navbar-links li a:hover{
    color: var(--color-yellow-primary);

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.nav.scrolled {
    background-color: #cf2222;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2); /* Ajusta la sombra si es necesario */
}

.title{
    color: white;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    text-align: center;

}
.subrayado{
    background-color:  var(--color-yellow-primary);
}
.button {
    font-family: 'Oswald', sans-serif;
    background-color: var(--color-yellow-primary); 
    color: rgb(8, 8, 8); 
    border: none; 
    border-radius: 12px; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    outline: none; 
    box-shadow: none; 
}

/* Objetivos */
.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0; */
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    
   
}
.objetivo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.container-objetivo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh; 
}
.left {
    background-image: url('/assets/images/red.avif'); 
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.right {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.right img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor derecho */
}
.parrafo-objetivo{
    color: white;
    font-size: 1.3rem;
}
.titulo-objetivo h2{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
}
/* Caciques */

.caciques {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.container-caciques {
    display: flex;
    flex-direction: row; 
    width: 100%;
}

.left-caciques {
    flex: 1;
}

.right-caciques {
    flex: 1;
}

.left-caciques img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Mobile Layout */
@media (max-width: 768px) {
    .container-caciques {
        flex-direction: column; 
    }

    .right-caciques {
        order: 1; 
    }

    .left-caciques {
        order: 2; 
        
    }
}

.container-card-caciques {
    display: flex;
    flex-wrap: wrap; /
    justify-content: center;
}
.titulo-caciques{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 29px auto;
}
.titulo-caciques h2{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.titulo-caciques p{
    color: white;
    font-size: 1.3rem;
}


.card-cacique {    
    width: 339px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-yellow-primary);
    transition: transform 0.3s ease;
}

.card-cacique-header figure img {
    width: 60px;
}

.card-cacique-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    color: var(--color-yellow-primary);
    font-family: "Oswald", sans-serif;
}
.card-cacique-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-cacique-body p {
    color: white;
}

.button-card {
    background-color: var(--color-yellow-primary);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.subrayado-caciques{
    background-color:  var(--color-yellow-primary);
    width: 300px;
}

/* Metricas */
.metricas {
    padding: 20px;
    background-color: #C1272D;
    height: 40vh;
    top: -5px;
}

.container-metricas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre los elementos */
}

.uno, .dos, .tres, .cuatro {   
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-family: "Oswald", sans-serif;
}

.numero {
    font-size: 2rem;
    font-weight: bold;
    transition: all 1s ease; 
    color: #0E0E0D;
}

.texto {
    font-size: 1rem;
    color: white; 
}
/* PILARES */
.pilares{
    display: flex;
    justify-content: center;
    padding: 50px 0;  
    height: auto;
    min-height: 100vh;
}