/* General styles */
.hero {
  position: relative;
  height: 100vh; /* Adjust the height based on your needs */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;

}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 10; /* Ensure the navbar stays above the video */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire header */
  position: absolute;
  top: 0;
  left: 0;
}
/* Posiciona el texto sobre el video */

.title h4{
  margin: 10px auto;
}
/* Estilos del botón */
.button {
  background-color: #D51641; /* Color de fondo del botón */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d67106; /* Efecto hover en el botón */
}


/*

.title {
  position: relative;
  z-index: 12;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35%;

}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  z-index: 10   ;
}
 */
/* .title h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.subrayado {
  text-decoration: underline;
}

.button {
  padding: 10px 20px;
  background-color: #D51641;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #ff4761;
}
 */

/* Aplica el overlay oscuro solo al video */
.background-video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);  /* Overlay oscuro */
  z-index: 2; /* Asegúrate de que el overlay esté encima del video pero debajo del texto */
}

.background-video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire header */
  z-index: 1; /* El video está debajo del overlay */
}

.title {
  position: absolute;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 39%;
}

/* .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   background-image: url('/assets/images/CCQS052.JPG');
  background-size: cover;
  background-position: center;
} */

/* .title {
  z-index: 2;
  color: white;
}

.title h1 {
  font-size: 1.9rem;
  margin: 0;
  font-family: 'Sweet Sans Pro', sans-serif;
}

.title h4 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-family: 'Sweet Sans Pro', sans-serif;
} */

.video-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);  /* Overlay oscuro */
  z-index: 1;
}



.menu-icon, .home, .navbar-links {
  z-index: 101;  /* Mantiene los elementos de la navbar visibles */
}

#navbar {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  width: 108%;
  justify-content: space-between;
  z-index: 10;
  transition: background-color 0.3s ease;
  height: 93px;
  position: fixed !important;
  top: 0;
}

.home img {
  width: 114px;
  height: 57px;
  margin-left: 33px;
}
.navbar-links{
  display: none;
}
.menu-icon{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-right: 10px;
}
.fa-solid  {
  width: 15px;
  height: 30px;
  margin-top: 10px;
  margin-right: 30px ;
  height: 100%;
  cursor: pointer;
  font-size: 30px;
 }

.home a,
.navbar-links li a {
text-decoration: none;
color: rgb(185, 180, 180);
font-family: "DM Sans", sans-serif;
font-size: 1rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #1D1D1B;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
}
.navbar-links li a:hover{
  color: var(--color-yellow-primary);

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.scrolled {
  background-color: var(--color-black--primary);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.555); /* Ajusta la sombra si es necesario */
}

.title{
  color: white;
  font-size: 1rem;
  font-family: 'Sweet Sans Pro', sans-serif;
  margin-top: 20px;
  text-align: center;

}
.subrayado{
  background-color: var(--color-yellow-primary);
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
    padding: 2px;
  display: inline-block;
}

.button {
  font-family: 'Sweet Sans Pro', sans-serif;
  background-color: var(--color-yellow-primary);
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: none;
}
.button-dona {
  font-family: 'Sweet Sans Pro', sans-serif;
  background-color: var(--color-yellow-primary);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: none;
  text-decoration: none; /* Elimina el subrayado del enlace */
}
.dona .button-dona{
  color: #000000;
}
/* Opcional: Estilo para el hover del botón */
.button-dona:hover {
  background-color: #d67106; /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de aumento en hover */
}


/* Objetivos */
.objetivo{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px 0; */
  overflow: hidden;
  height: auto;
  min-height: 100vh;


}
.objetivo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.container-objetivo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}
.left {
/*   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/CCQS002.JPG');
 */  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}


.right {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.right img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor derecho */
}
.parrafo-objetivo{
  color: white;
  font-size: 1.3rem;
}
.titulo-objetivo h2{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
  color: white;
  font-family: 'Sweet Sans Pro', sans-serif;
}
/* Caciques */
.caciques {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container-caciques {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-caciques {
  flex: 1;
}

.right-caciques {
  flex: 1;
}

.left-caciques img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .container-caciques {
      flex-direction: column;
  }

  .right-caciques {
      order: 1;
  }

  .left-caciques {
      order: 2;

  }
}

.container-card-caciques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titulo-caciques{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 29px auto;
}
.titulo-caciques h2{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: 'Sweet Sans Pro', sans-serif;
}
.titulo-caciques p{
  color: white;
  font-size: 1.3rem;
}


.card-cacique {
  width: 339px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--color-yellow-primary);
  transition: transform 0.3s ease;
}

.card-cacique-header figure img {
  width: 60px;
}

.card-cacique-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  color: var(--color-yellow-primary);
  font-family: 'Sweet Sans Pro', sans-serif;
}
.card-cacique-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-cacique-body p {
  color: white;
}

.button-card {
  background-color: var(--color-yellow-primary);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Sweet Sans Pro', sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}
.subrayado-caciques{
  background-color:  var(--color-yellow-primary);
  width: 317px;
  color: black;
}

/* Metricas */
.metricas {
  padding: 20px;
  background-color: #C1272D;
  height: 55vh;
  top: -5px;
  position: relative;
  text-align: center;
  align-items: center;
}

.container-metricas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  top: 22%;
  position: relative;
}
.uno, .dos, .tres, .cuatro .cinco{
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-family: 'Sweet Sans Pro', sans-serif;
}
.cinco{
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'Oswald', sans-serif;

}
.numero {
  font-size: 2.9rem;
  font-weight: bold;
  transition: all 1s ease;
  color: #0E0E0D;
  font-family: 'Oswald', sans-serif;
}

.texto {
  font-size: 1rem;
  color: white;
  font-family: 'Sweet Sans Pro', sans-serif;
}
/* Estilo general */
/* Estilo general mobile first */
.container-pilares {
  overflow: hidden;
  padding: 20px;
  margin-top: 66px;
}

.title-pilares {
  text-align: center;
  margin-bottom: 20px;
}

.carousel-static {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  scrollbar-width: none;
}

.carousel-static::-webkit-scrollbar {
  display: none;
}

.carousel-items {
  display: flex;
  gap: 10px;
  padding: 0 10px;

  height: 512px;
}


/* Estilo general de la card */
.card {
  position: relative;
  width: 355px;
  height: 482px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear el contenido al inicio, arriba */
}

/* Imagen de fondo que se verá nítida */
.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.rugby{
  background-image: url('/assets/images/CMalta093.JPG');

}
.espiritualidad{
  background-image: url(/assets/images/virgen.JPG);
}
.educacion{
  background-image: url(/assets/images/505337de-cd50-4b25-bad6-7d2e8e5c07fa.JPG );
}
.trabajo{
  background-image: url(/assets/images/trabajo.jpg);
}
.glass-content,
.glass-content-espiritualidad{
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2.5px);
  border-radius: 10px;
  padding: 20px;
  color: rgb(6, 6, 6);
  width: 90%;
  height: 90%;
  margin-top: 20px; /* Ajusta la posición vertical */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del título y texto dentro de la card */
.glass-content h3 {
  font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Sweet Sans Pro', sans-serif;
}
.glass-content-espiritualidad h3{
  font-size: 24px;
  margin: 0 -19px;
  margin-bottom: 30px;
  font-family: 'Sweet Sans Pro', sans-serif;
}

.glass-content p,
.glass-content-espiritualidad p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

/* Efecto hover opcional para el zoom en la imagen */
.card:hover .background-img {
  transform: scale(1.05); /* Zoom suave al hacer hover */
  transition: transform 0.5s ease;
}





.card-pilares h3 {
  font-size: 1.5rem;
  color: var(--color-yellow-primary);
  margin-top: 10px;
  font-family: 'Sweet Sans Pro', sans-serif;
}

.hidden-text {
  padding-top: 10px;
  font-size: 1.2rem;
  color: white;
}


.card-pilares-header {
  margin: 10px auto;
  position: relative;
}
/* Estilo general de la card */
.card-pilaresS {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: space-between; /* Distribuye el texto arriba y la imagen abajo */
  background-color: #fff;
}

/* Estilo del encabezado de la card (texto arriba) */
.card-pilares-headerR {
  padding: 20px;
  text-align: center;
  color: #333;
}

.card-pilares-header h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hidden-text {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

/* Estilo de la imagen abajo */
#virgen {
  width: 100%;
  margin: 0;
}

#virgen img {
  width: 100%;
  height: auto;
  display: block;
}




/* Parallax*/

.parallax {
height: 59vh;
  background-image: url('/assets/images/prallax.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* video*/
.video{
  width: 100%;
  height: 100vh;
}
.container-video p{
  font-size: 2rem;
  color: white;
  font-family: 'Sweet Sans Pro', sans-serif;

}
.container-video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
.container-video iframe{
  width: 480px;
  height: 500px;
}
/* Footer */


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 593px;
  background-color: rgb(29, 29, 27);
}

.footer__logo {
  margin-top: 70px;
  display: flex;
  justify-content: center;

}

.footer img {
  height: 137px;
}

.footer__addr {
  margin-bottom: 2em;
}

.footer__addr h2 {
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.footer__addr p {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1rem;
}

.nav__ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

.nav__ul li {
  margin-bottom: 10px;
}

.nav__ul a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}

.iconocontacto {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.iconocontacto button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__nav h5 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.legal {
  margin-top: 20px;
  color: #ccc;
  font-size: 0.9rem;
}

.iconocontacto{
  margin-top: 15px;
  color: rgb(255, 255, 255);
}
.iconocontacto button{
  border: 0;
  background-color: rgb(29, 29, 27);
  color: rgb(255, 255, 255);
}
      .icoinstagram{
          margin-right: 15px;
      }
      .icofacebook{
          margin-left: 15px;
      }




  .nav__ul a {
      color: #ffffff;
  }

  .nav__ul--extra {
      column-count: 2;
      column-gap: 1.25em;
  }

  .legal {
      padding-top: 58px;
      color: #999;
  }

  .legal__links {
      display: flex;
      align-items: center;
  }

  .heart {
      color: #2f2f2f;
  }

  @media screen and (min-width: 24.375em) {
      .legal .legal__links {
      margin-left: auto;
      }
  }

  @media screen and (min-width: 40.375em) {
      .footer__nav > * {
      flex: 1;
      }

      .nav__item--extra {
      flex-grow: 2;
      }

      .footer__addr {
      flex: 1 0px;
      }

      .footer__nav {
      flex: 2 0px;
      }
  }





/* N O S O T R O S */
body{
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/card1.JPG);
  height: 954px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

  .menu-icon{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-right: 10px;
  }
  .fa-solid  {
  width: 15px;
  height: 30px;
  margin-top: 10px;
  margin-right: 30px ;
  height: 100%;
  cursor: pointer;
  font-size: 30px;
  }

.close {
display: none;
}
.scrolled {
  background-color: #1D1D1B;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.668);
}


              .headh1{
                  color: rgb(178, 3, 3);
                  position: absolute;
                  font-size: 40px;
                  top: 60%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                  z-index: 2;
                  font-family: 'Sweet Sans Pro', sans-serif;
                  font-optical-sizing: auto;
                  font-weight: 400;
                  font-style: normal;

              }
              .highlight {
                  background-color: rgb(247, 147, 30);
                  padding: 2px;
                  display: inline-block;
                  font-family: "Oswald", sans-serif;
          }

  .infoycarrousel{
      background-color: rgb(	29, 29, 27);
      height: auto;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
  }
                  .info{
                      color: white;
                      margin: 30px;
                          font-family: "DM Sans", sans-serif;
                          font-optical-sizing: auto;
                          font-weight: 300;
                          font-style: normal;
                          margin-bottom: 30px;
                          margin-top: 50px;
                  }

                  .info2{
                      color: white;
                      margin: 30px;
                          font-family: "DM Sans", sans-serif;
                          font-optical-sizing: auto;
                          font-weight: 300;
                          font-style: normal;
                      margin-bottom: 80px;

                  }
  .carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  }

                  .carousel-inner {
                      display: flex;
                      width: auto;
                      height: 100%;
                      animation: slide 40s infinite;
                  }

                  .carousel-item {
                      flex: 1 0 100%;
                      height: 50%;
                  }

                  .carousel-item img {
                      width: 300px;
                      height: 300px;
                      object-fit: cover;
                      border-radius: 20px;

                  }

                  @keyframes slide {
                      0% { transform: translateX(0); }
                      14.28% { transform: translateX(-100%); }
                      28.56% { transform: translateX(-200%); }
                      42.84% { transform: translateX(-300%); }
                      57.12% { transform: translateX(-400%); }
                      71.4% { transform: translateX(-500%); }
                      85.68% { transform: translateX(-600%); }
                      100% { transform: translateX(0); }
                  }

  .dondeestamos{
      width: 100%;
      height: 500px;
      overflow: hidden;
      position: relative;
      background-color:rgba(29, 29, 27);
      }
      .dondeestamos h1{
          color: white;
          font-family: 'Oswald', sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          margin-left: 30px;
          margin-top: 50px;
          font-size: 35px;
          }
              .logoubi {
                  position: absolute;
                  margin-left: 50px;
                  margin-top: 8px;
                  width: 25px;
                  height: 35px;
                  color: rgb(193, 39, 45);
              }
                  .ubicaciones{
                      color: rgb(247, 147, 30);
                      font-family: 'Oswald', sans-serif;
                      font-size: 32px;
                      text-align: left;
                      margin-left: 85px;
                      margin-bottom: 0;
                  }
                          .ubicacionesaclaracion{
                              color: rgb(255, 255, 255);
                              font-family: "DM Sans", sans-serif;
                              font-size: 10px;
                              text-align: left;
                              margin-left: 85px;
                              margin-bottom: 50px;
                              margin-top: 0;
                          }
                  .otrasubicaciones{
                      color: rgb(247, 147, 30);
                      font-family: 'Oswald', sans-serif;
                      font-size: 32px;
                      text-align: left;
                      margin-left: 85px;
                      margin-bottom: 50px;
                  }

  .hitos{
      width: 100%;
      height: 380px;
      overflow: hidden;
      background-color:rgb(29, 29, 27);
      }

      .hitos h1{
          color: white;
          font-family: 'Oswald', sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          margin-left: 30px;
          margin-top: 50px;
          font-size: 35px;
      }



      .lineadeltiempo {
          display: flex;
          overflow-x: scroll;
          scroll-snap-type: x mandatory;
          border-bottom: 5px solid rgb(247, 147, 30);
          margin-left: 40px;
          margin-right: 40px;
      }

      .slide {
          flex: 0 0 100%;
          scroll-snap-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
      }

      .contenidohitos {
          border-left: 2px solid rgb(247, 147, 30);
          color: white;
          padding-left: 20px;
          position: relative;
          font-family: 'Sweet Sans Pro', sans-serif;
      }

      .contenidohitos:before {
          content: '';
          width: 10px;
          height: 10px;
          background-color: rgb(247, 147, 30);
          border-radius: 50%;
          position: absolute;
          left: -5px;
          top: 10px;
      }

      .valores{
          width: 100%;
          height: 950px;
          overflow: hidden;
          position: relative;
          background-color:rgb(29, 29, 27);
          }
          .valores h1{
              color: white;
              font-family: 'Oswald', sans-serif;
              font-optical-sizing: auto;
              font-weight: 400;
              font-style: normal;
              margin-left: 30px;
              margin-top: 50px;
              font-size: 35px;
          }

          .listavalores{
              margin-top: 50px;
              text-align: center;
              color: white;
              font-family: 'Sweet Sans Pro', sans-serif;
              font-size: 25px;
              background-image: linear-gradient(rgba(29, 29, 27, 0.9), rgb(29, 29, 27, 0.9)), url('/assetspollo/img/Recurso\ 4caciques.png');
              overflow: hidden;
              background-size: 80%;
              background-position: center;
              background-repeat: no-repeat;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding: 15px;
          }
                  .listavalores p{
                      margin-top: 50px;
                      margin-bottom: 20px;
                      text-align: center;
                      color: white;
                      font-family: 'Sweet Sans Pro', sans-serif;
                      font-size: 25px;
                  }
          .ayudanos{
              margin-top: 120px;
              text-align: center;
              color: white;
              font-family: 'Oswald', sans-serif;
              font-size: 20px;
          }
          .involucrate{
              background-color: rgb(247, 147, 30);
              font-family: 'Oswald', sans-serif;
              font-size: 18px;
              color: black;
              border-radius: 5px;
              border: 0;
              padding: 0;
              width: 120px;
              height: 35px;
              margin-top: 50px;
          }




/* P  A  G  O  S */

.voluntarios {
  height: 556px;
  text-align: center;
  color: rgb(220, 219, 219);
  font-size: 24px;
}
.voluntarios p{
  margin-top: 1rem;
}

.header-voluntarios{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/CMalta259.JPG);
  height: 954px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}
.navcontainer {
  background-color: rgba(154, 154, 154, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px;
}


.menu-icon{
display: flex;
align-items: center;
gap: 10px;
height: 100%;
margin-right: 10px;
}
.fa-solid  {
width: 15px;
height: 30px;
margin-top: 10px;
margin-right: 30px ;
height: 100%;
cursor: pointer;
font-size: 30px;
}





.close {
display: none;
}
.scrolled {
background-color: #1D1D1B;
box-shadow: 0 2px 14px rgba(0, 0, 0, 0.555); /* Ajusta la sombra si es necesario */
}


            .headh1 {
              width: 240px;
              color: white;
              position: absolute;
              font-size: 30px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              z-index: 2;
              font-family: "Oswald", sans-serif;
              font-optical-sizing: auto;
              font-weight: 400;
              font-style: normal;
            }


              .form{
                  height: 380px;
                  background-color: rgb(	29, 29, 27);
                  text-align: center;
              }
              .formindicartiempo{
                  padding-top: 50px;
              }
                  .labels {
                      color: rgb(255, 255, 255);
                      margin: 30px;
                      margin-top: 30px;
                      margin-bottom: 30px;
                      font-family: "DM Sans", sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 300;
                      font-style: normal;
                      margin-bottom: 93px;
                      margin-top: 50px;
                      font-size: 18px;
                  }
                      .botones{
                          margin-top: 25px;
                      }
                      .botonseleccion {
                          padding: 10px 20px;
                          margin: 5px;
                          border: 2px solid rgb(247, 147, 30);
                          border-radius: 15px;
                          color: #ffffff;
                          cursor: pointer;
                          font-size: 16px;
                          background-color: rgb(	29, 29, 27);
                      }
                      .botonseleccion.selected {
                          background-color: rgb(247, 147, 30);
                          color: white;
                      }

                      .formindicarmonto{
                          margin-top: 30px;
                      }
                      .botonseleccionmonto {
                          padding: 10px 20px;
                          margin: 5px;
                          border: 2px solid rgb(247, 147, 30);
                          border-radius: 15px;
                          color: #ffffff;
                          cursor: pointer;
                          font-size: 16px;
                          background-color: rgb(29, 29, 27);

                      }

                      .botonseleccionmonto.selected {
                          background-color: rgb(247, 147, 30);
                          color: white;
                      }

                      .botones {
                          display: flex;
                          justify-content: space-between;
                          gap: 20px;
                          margin-left: 25px;
                          margin-right: 25px;
                      }

                      .columna {
                          display: flex;
                          flex-direction: column;
                          width: 45%;
                      }
                      .datospersonales {
                        height: 624px;
                        background-color: rgb(247, 147, 30);
                        padding: 0;
                      }

          .h1datospers {
              width: 240px;
              color: rgb(0, 0, 0);
              position: relative;
              font-size: 30px;
              text-align: left;
              font-family: 'Sweet Sans Pro', sans-serif;
              font-optical-sizing: auto;
              font-weight: 500;
              font-style: normal;
              margin: 0;
              padding-top: 20px;
              padding-left: 20px;
          }
          .centrardatos{
                  display: flex;
                  justify-content: center;
                  align-items: center;
          }
                  .inputylabelssdatosp {
                      margin-top: 30px;
                  }

                          .labelsdp {
                              color: rgb(0, 0, 0);
                              font-family: "DM Sans", sans-serif;
                              font-optical-sizing: auto;
                              font-weight: 300;
                              font-style: normal;
                          }

                          .inputsdp {
                              color: rgb(0, 0, 0);
                              font-family: "DM Sans", sans-serif;
                              font-optical-sizing: auto;
                              font-weight: 300;
                              font-style: normal;
                              background-color: rgb(247, 147, 30);
                              border: 0;
                              border-bottom: 1px solid black;
                              width: 200px;
                          }
                          .centrarboton{
                              display: flex;
                              justify-content: center;
                              align-items: center;
                          }
                          .botonquierosumarme {
                              font-family: 'Sweet Sans Pro', sans-serif;
                              font-optical-sizing: auto;
                              font-weight: 400;
                              font-style: normal;
                              font-size: 15px;
                              margin: 7px;
                              background-color: rgb(163, 16, 16);
                              color: #ffffff;
                              border: 0;
                              border-radius: 15px;
                              width: 120px;
                              height: 50px;
                          }

  .porquecolaborar{
      text-align: center;
      color: white;
      font-size: 25px;
      background-image: linear-gradient(rgba(29, 29, 27, 0.85), rgba(29, 29, 27, 0.85)), url(/assetspollo/img/porquecolaborar.png);
      overflow: hidden;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 500px;
  }

  .porquecolaborar h1 {
      margin-top: 40px;
      font-family: 'Sweet Sans Pro', sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      width: 349px;
  }
  .porquecolaborar p{
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size: 12px;
      margin-top: 90px;
      margin: 40px;
  }
.voluntario figure img{
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.voluntario-figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.voluntario {
  margin: 20px 20px;
  height: 323px;
}
    .porquecolaborar p{
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        margin-top: 90px;
        margin: 40px;
    }
  .porquecolaborar h1 {
      margin-top: 40px;
      font-family: 'Sweet Sans Pro', sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      width: 349px;
  }
  .porquecolaborar p{
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size: 12px;
      margin-top: 90px;
      margin: 40px;
  }
.voluntario figure img{
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.voluntario-figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.voluntario{
  margin: 20px 20px;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Mantener el modal en su lugar */
  z-index: 1; /* Colocar el modal sobre el contenido */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro con opacidad */
}

.modal-content {
  background-color: #fefefe;
  margin: 80% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close-form {
  background-color: #A31010;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.close-form:hover {
  background-color: #d67106;
  color: black;
}


.footer a {
  color: #ffffff; /* Cambia este valor al color que prefieras */
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.footer a:hover {
  color: #d67106; /* Cambia el color del enlace al pasar el mouse (opcional) */
}
