body{
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assetspollo/img/imghome.jpg);
    height: 954px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#navbar {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  transition: background-color 0.3s ease;
  height: 75px;
  position: fixed !important;
  top: 0;
}

.home img{
  width: 67px;
  height: 57px;
  margin: 10px 10px;
}
.navbar-links{
  display: none;
}
.menu-icon{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-right: 10px;
}
.fa-solid  {
  width: 15px;
  height: 30px;
  margin-top: 10px;
  margin-right: 30px ;
  height: 100%;
  cursor: pointer;
  font-size: 30px;
 }

.home a,
.navbar-links li a {
text-decoration: none;
color: rgb(185, 180, 180);
font-family: "DM Sans", sans-serif;
font-size: 1.4rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #1D1D1B;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
}
.navbar-links li a:hover{
  color: #F7931E;

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.scrolled {
  background-color: #1D1D1B;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.668); /* Ajusta la sombra si es necesario */
}


                .headh1{
                    color: white;
                    position: absolute;
                    font-size: 40px;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    z-index: 2;
                    font-family: 'Sweet Sans Pro', sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;

                }
                .highlight {
                    background-color: rgb(247, 147, 30);
                    padding: 2px;
                    display: inline-block;
            }

    .infoycarrousel{
        background-color: rgb(	29, 29, 27);
        height: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
                    .info{
                        color: white;
                        margin: 30px;
                            font-family: "DM Sans", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 300;
                            font-style: normal;
                            margin-bottom: 30px;
                            margin-top: 50px;
                    }

                    .info2{
                        color: white;
                        margin: 30px;
                            font-family: "DM Sans", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 300;
                            font-style: normal;
                        margin-bottom: 80px;

                    }
    .carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    }

                    .carousel-inner {
                        display: flex;
                        width: auto;
                        height: 100%;
                        animation: slide 21s infinite;
                    }

                    .carousel-item {
                        flex: 1 0 100%;
                        height: 50%;
                    }

                    .carousel-item img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 20px;

                    }

                    @keyframes slide {
                        0% { transform: translateX(0); }
                        14.28% { transform: translateX(-100%); }
                        28.56% { transform: translateX(-200%); }
                        42.84% { transform: translateX(-300%); }
                        57.12% { transform: translateX(-400%); }
                        71.4% { transform: translateX(-500%); }
                        85.68% { transform: translateX(-600%); }
                        100% { transform: translateX(0); }
                    }

    .dondeestamos{
        width: 100%;
        height: 550px;
        overflow: hidden;
        position: relative;
        background-color:rgba(29, 29, 27);
        }
        .dondeestamos h1{
            color: white;
            font-family: 'Sweet Sans Pro', sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            margin-left: 30px;
            margin-top: 50px;
            font-size: 35px;
            }
                    .logoubi{
                        position: absolute;
                        margin-left: 60px;
                        margin-top: 5px;
                        color: rgb(193, 39, 45);
                    }
                    .ubicaciones{
                        color: rgb(247, 147, 30);
                        font-family: 'Sweet Sans Pro', sans-serif;
                        font-size: 32px;
                        text-align: left;
                        margin-left: 105px;
                        margin-bottom: 0;
                    }
                            .ubicacionesaclaracion{
                                color: rgb(255, 255, 255);
                                font-family: "DM Sans", sans-serif;
                                font-size: 10px;
                                text-align: left;
                                margin-left: 105px;
                                margin-bottom: 50px;
                                margin-top: 0;
                            }
                    .otrasubicaciones{
                        color: rgb(247, 147, 30);
                        font-family: 'Sweet Sans Pro', sans-serif;
                        font-size: 32px;
                        text-align: left;
                        margin-left: 105px;
                        margin-bottom: 50px;
                    }

    .hitos{
        width: 100%;
        height: 380px;
        overflow: hidden;
        background-color:rgb(29, 29, 27);
        }
        .hitos h1{
            color: white;
            font-family: 'Sweet Sans Pro', sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            margin-left: 30px;
            margin-top: 50px;
            font-size: 35px;
        }
        

        
        .lineadeltiempo {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            border-bottom: 5px solid rgb(247, 147, 30);
            margin-left: 40px;
            margin-right: 40px;
        }
        
        .slide {
            flex: 0 0 100%;
            scroll-snap-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        
        .contenidohitos {
            border-left: 2px solid rgb(247, 147, 30);
            color: white;
            padding-left: 20px;
            position: relative;
            font-family: 'Sweet Sans Pro', sans-serif;
        }
        
        .contenidohitos:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: rgb(247, 147, 30);
            border-radius: 50%;
            position: absolute;
            left: -5px;
            top: 10px;
        }

        .valores{
            width: 100%;
            height: 950px;
            overflow: hidden;
            position: relative;
            background-color:rgb(29, 29, 27);
            }
            .valores h1{
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                margin-left: 30px;
                margin-top: 50px;
                font-size: 35px;
            }

            .listavalores{
                margin-top: 50px;
                text-align: center;
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 25px;
                background-image: linear-gradient(rgba(29, 29, 27, 0.9), rgb(29, 29, 27, 0.9)), url('/assetspollo/img/Recurso\ 4caciques.png');
                overflow: hidden;
                background-size: 80%;
                background-position: center;
                background-repeat: no-repeat;
            }
                    .listavalores p{
                        margin-top: 50px;
                        margin-bottom: 20px;
                        text-align: center;
                        color: white;
                        font-family: 'Sweet Sans Pro', sans-serif;
                        font-size: 25px;
                    }
            .ayudanos{
                margin-top: 120px;
                text-align: center;
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 20px;
            }
            .involucrate{
                background-color: rgb(247, 147, 30);
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 18px;
                color: black;
                border-radius: 5px;
                border: 0;
                padding: 0;
                width: 120px;
                height: 35px;
                margin-top: 50px;
            }

        .footer{
            text-align: center;
            width: 100%;
            height: 600px;
            overflow: hidden;
            position: relative;
            background-color:rgb(29, 29, 27);
        }
                .footer img{
                    width: 200px;
                    height: 190px;
                }
                        .iconocontacto{
                            margin-top: 15px;
                            color: rgb(255, 255, 255);
                        }
                        .iconocontacto button{
                            border: 0;
                            background-color: rgb(29, 29, 27);
                            color: rgb(255, 255, 255);
                        }
                        .icoinstagram{
                            margin-right: 15px;
                        }
                        .icofacebook{
                            margin-left: 15px;
                        }
            .contacto{
                text-align: center;
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 25px;
                font-weight: 400;
                margin-top: 30px;
            }
            .footer p{
                text-align: center;
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 400;
                margin-top: 30px;
            }

            .footer h6{
                text-align: center;
                color: white;
                font-family: 'Sweet Sans Pro', sans-serif;
                font-size: 25px;
                font-weight: 400;
            }
